body{
	color: black;
	background-color: white;
}

div.inline {
	float: left;
}

.clearBoth {
	clear: both;
}

#canvas-holder {
	width: 10%;
	margin-top: 50px;
	text-align: center;
	
}

#canvas-holder2 {
	width: 10%;
	margin-top: 50px;
	text-align: center;
}

#chartjs-tooltip {
	width: 3px;
	opacity: 1;
	position: absolute;
	background: rgba(0, 0, 0, 1);
	color: white;
	border-radius: 30px;
	-webkit-transition: all .1s ease;
	transition: all .1s ease;
	pointer-events: none;
	-webkit-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
}



.chartjs-tooltip-key {
	
	display: inline-block;
	width: 10px;
	height: 10px;
	margin-right: 10px;
}